html, body {
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Helvetica Neue';
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 5px 0;
  color: #999999;
  font-size: 20px;
  padding: 0 20px;
  margin-top: 20px;
}

ul {
  list-style: none;
  display: flex;
}

@media (min-width: 960px) {
  h2 {
    padding: 0 40px;
  }
  h2 {
    color: #E5E5E5;
  }
}

@media (min-width: 1264px) {
  h2 {
    padding: 0 60px;
  }
}