
.header.header-opaque {
  background-color: #141414;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
  transition: .9s all ease;
}

.header {
  position: fixed;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  display: flex;
  background: inherit;
  align-items: center;
  transition: .9s all ease;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
  z-index: 1;
}
.header__options {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  width: 70px;
  position: absolute;
  left: 55px;
}
.header__list {
  list-style: none;
  display: flex;
}
.header__item {
  color: #fff;
  margin-right: 20px;
  opacity: .5;
}
.header__item_active {
  opacity: 1;
}
.header__avatar {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.header__image-avatar {
  height: 35px;
  border-radius: 50%;
}
.header__span {
  display: none;
  cursor: pointer;
}
.header__icon {
  fill: #fff;
  position: absolute;
  left: 15px;
}

@media (min-width: 600px) {
  .header {
    /* height: 50px; */
  }
}

@media (min-width: 960px) {

  .header {
    justify-content: space-between;
    height: 68px;
  }
  .header__options {
    justify-content: flex-start;
  }
  .header__list {
    margin-left: 30px
  }
  .header__span {
    display: initial;
    font-size: 11px;
  }
  .header__icon {
    display: none;
  }
  .header__logo {
    position: relative;
    left: 20px;
    width: 90px;
  }
  .header__avatar  {
    right: 20px;
  }
  .header__image-avatar {
    height: 40px;
  }

}

@media (min-width: 1264px) {

  .header__list {
    margin-left: 40px;
  }
  .header__span {
    font-size: 14px;
  }
  .header__avatar  {
    right: 40px;
  }
  .header__logo {
    left: 40px;
  }

}