
.home-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #141414;
  overflow-x: hidden;
}

.section-image {
  overflow: auto;
  padding: 0 20px;
}

.list-item-image {
  height: 100px;
  margin-right: 10px;
}


.main {
  
}
.main__content-full-image {
  height: 200px;
  filter: brightness(60%);
}
.main__container {
  position: relative;
  top: -80px;
}
.main__image-list {
  padding: 0;
  margin-top: 3px;
}

/* sm */
@media (min-width: 600px) {
  .main__content-full-image {
    height: 300px;
  }
  .main__container {
    /* top: 250px; */
  }
}

/* md */
@media (min-width: 960px) {
  .section-image {
    padding: 0 40px;
  }
  .list-item-image {
    height: 150px;
    margin-right: 10px;
  }

  .main__content-full-image {
    height: 600px;
  }
  .main__container {
    top: -180px;
  }
  
}

/* lg */
@media (min-width: 1264px) {
  .section-image {
    padding: 0 60px;
  }
  .main__content-full-image {
    height: 800px;
  }
  .main__container {
    top: -220px;
  }
}
