
.home-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #141414;
  overflow-x: hidden;
}
.section__content {
  position: relative;
}
.section__content:hover > .btn {
  opacity: 1;
}
.btn {
  opacity: 0;
  transition: .3s all ease;
}
.section-image {
  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: 0;
  padding: 0 15px;
  position: relative;
  scroll-behavior: smooth;
}
.list-item-image {
  height: 100px;
}
.main__icon-left {
  position: absolute;
  height: 100%;
  left: 0;
}
.main__icon-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.main__item-img {
  margin-right: 3px;
  transition: 500ms all;     
}
.main__item-img:hover { 
  margin-right: 20px;
  margin-left: 18px;
  transform: scale(1.2);
}
.main__content-full-image {
  height: 200px;
  filter: brightness(80%);
}
.main__container {
  position: relative;
  top: -60px;
}
.main__image-list {
  padding: 0;
  margin-top: 5px;
}

/* sm */
@media (min-width: 600px) {
  .main__content-full-image {
    height: 380px;
  }
}

/* md */
@media (min-width: 960px) {
  .section-image {
    padding: 50px 40px;
    margin: -50px 0;
  }
  .list-item-image {
    height: 135px;
  }
  .main__item-img:hover { 
    margin-right: 63px;
    margin-left: 61px;
    transform: scale(1.5);
  }
  .main__content-full-image {
    height: 600px;
  }
  .main__container {
    top: -180px;
  }
  
}

/* lg */
@media (min-width: 1264px) {
  .section-image {
    padding: 50px 60px;
    margin: -50px 0;
  }
  .main__content-full-image {
    height: 800px;
  }
  .main__container {
    top: -200px;
  }
  .main__item-img:hover { 
    margin-right: 86px;
    margin-left: 84px;
    transform: scale(1.7);
  }
}

@media (min-width: 1441px) {
  .section-image {
    margin-bottom: 5px;
  }
  .list-item-image {
    min-height: 230px;
  }
  .main__content-full-image {
    height: 1300px;
  }
  .main__item-img:hover { 
    margin-right: 150px;
    margin-left: 148px;
  }
}
